*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    font-family: 'Oxygen', sans-serif;
}
#social{
    background-color: black;
    color: white;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 18px;
    z-index: 1;
    padding: 15px;
}
font{
    float: left;
    letter-spacing: 2px;
}
span{
    font-size: 12px;
    letter-spacing: 1px;
}
#social i{
    float: right;
    margin-right: 15px;
}
#social i:hover{
    opacity: 0.8;
}
#container{
    width: 80%;
    margin: auto;
    height: auto;
}
header{
    width: 100%;
    height: 250px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    position: relative;
    color: white;
    font-size: 25px;
    background-color: black;
    margin-bottom: 20px;
    font-family: 'Teko', sans-serif;
}
#headerresim{
    width: 100%;
    height: 250px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}
#centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
section{
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    overflow: auto;   
}
nav{
    width: 20%;
    float: left;
    margin-top: 10px;
    height: auto;
}
nav ul{
    width: auto;
    height: 100%;
    margin: 0%;
    padding: 0cm;

}
nav li{
    list-style-type: none;
    
}
nav a{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
    font-size: 15px;
}
nav li a:hover{
    color: white;
    background-color: #adadad;
}
nav i{
    margin-right: 10px;
}   
main{
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;
}
.icerik{
    width: 47%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);

}
.rsm{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.8s;
}
.rsm:hover{
    opacity: 0.6;
}
h5{
    margin: 10px;
    color: dimgray;
}
.iceriktext{
    margin: 10px;
    color: dimgray;
}
.btndevam:link{
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: #0071ce;
    color: white;
    text-decoration: none;
    margin: 15px;
    border-radius: 7px;
}
.btndevam:visited{
    color: white;
}
.btndevam:hover{
    opacity: 0.8;
}
footer{
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    line-height: 75px;
    text-align: center;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    margin:0 10px ;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}
.hakrsmdiv{
    margin: 15px;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background-color: black;
    float:left;
}
.hakkimizdarsm{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .75);
}
.hakkimizdarsm:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.hakyazi{
    margin-right: 15px;
    font-size: 18px;
    text-indent: 40px;
    color: #494949;
}
.referans{
    width: 29%;
    height: 300px;
    background-color: white;
    float: left;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .75);
    position: relative;
}

.refresim{
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px ;
    border-bottom-right-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.8s;
}
.refresim:hover{
    opacity: 1;
    transition: 0.8s;
}
.refbaslik{
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin-top: -5px;
    color: black;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background-color: #f1f1f1;
}
.refdetay{
    text-align: center;
    font-size: 15px;
}
.galresim{

    width: 20%;
    height: 200px;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .75);
    margin: 2.2%;
    transition:  0.5s;
    object-fit: cover;

}
.galresim:hover{
    opacity: 1;
    cursor: pointer;
    border: 4px solid white;
}
.link:link{
    text-decoration: none;

}
iframe{
    width: 98%;
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.6);
    margin-left: 10px;
}
.section1{
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: #0071ce 1px solid;
}
.form{
    width: 46%;
    height: 380px;
    border: #d8d8d8 1px solid;
    padding: 10px;
}
.col25{
    width: 30%;
    float: left;
    margin-top: 6px;

}
.col75{
    width: 60%;
    float: left;
    margin-top: 6px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.row:after{
    content: "";
    clear: both;
    display: block;
}
input[type=submit]{
    background-color: #4caf50;
    color: white;
    margin-top: 5px;
    padding: 12px 20px;
    border-radius: 4px;
    float: right;
    margin-right: 10%;
    cursor: pointer;
}
.adres{
    width: 46%;
    height: 380px;
    border: #d8d8d8 1px solid;
    padding: 10px;
}
h2{
    text-align: center;

}
.span1{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 16px;
}